<div class="container">
  <div class="tableWrapper">
    <table *ngIf="generalStatsObs | async as generalStats">
      <thead>
        <tr>
          <th colspan="3">Values used for stat calcuation</th>
          <th rowspan="2">Name</th>
          <th rowspan="2">used</th>
          <th rowspan="2">perc.</th>
          <th colspan="7">value distribution</th>
        </tr>
        <tr>
          <th>expanded</th>
          <th>Connected</th>
          <th>Naval TP</th>
          <th>dudd</th>
          <th>3-5-7</th>
          <th>4-7-9</th>
          <th>5-8-11</th>
          <th>6-10-14</th>
          <th>7-12-16</th>
          <th>10-16-22</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tradeNode of sort(tradeNodesObs | async, 'usedIn')" [class.active]="tradeNode.name == id">
          <td align="center"><input type="checkbox" [checked]="tradeNode.isExpanded" (input)="toggleTradeNodeExpanded(tradeNode.name)"/></td>
          <td align="center"><input type="checkbox" [checked]="tradeNode.connectedToCapital" (input)="toggleTradeNodeConnection(tradeNode.name)"/></td>
          <td><input type="number" min="0" step="1" [readOnly]="tradeNode.adjacentSeaZones.length == 0" [value]="tradeNode.navalTradePower" (input)="setTradeNodeNavalPower(tradeNode.name, $event)"/></td>
          <td><a [routerLink]="['/trade-nodes', tradeNode.name]">{{ tradeNode.name }}</a></td>
          <td align="center">{{ tradeNode.usedIn.length }}</td>
          <td align="center">{{ (100/generalStats.tradeCardCount*tradeNode.usedIn.length) | number:'1.1-1' }} %</td>
          <td align="center">{{ generalStats.tradeCardCount - tradeNode.usedIn.length }}</td>
          <td align="center">{{ tradeNode.tradeCardValues[0] }}</td>
          <td align="center">{{ tradeNode.tradeCardValues[1] }}</td>
          <td align="center">{{ tradeNode.tradeCardValues[2] }}</td>
          <td align="center">{{ tradeNode.tradeCardValues[3] }}</td>
          <td align="center">{{ tradeNode.tradeCardValues[4] }}</td>
          <td align="center">{{ tradeNode.tradeCardValues[5] }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="currentTradeNode" class="details">
    <h3>{{ currentTradeNode.name }}</h3>
    <h4>Relevant Provinces:</h4>
    <ul>
      <li *ngFor="let province of getRelevantProvinces(currentTradeNode)">
        {{ province[0] }}x: 
        <a [routerLink]="['/provinces', province[1].name]">{{ province[1].name }}</a>
      </li>
    </ul>
    <h4>Adjacent Sea Zones:</h4>
    <ul>
      <li *ngFor="let seaZone of currentTradeNode.adjacentSeaZones">
        <a [routerLink]="['/sea-zones', seaZone.name]">{{ seaZone.name }}</a>
      </li>
    </ul>
    <h4>Used on Trade Cards:</h4>
    <ul>
      <li *ngFor="let tradeCard of currentTradeNode.usedIn">
        <a [routerLink]="['/trade-cards', tradeCard.id]">{{ tradeCard.name }} ({{ tradeCard.id }})</a>
      </li>
    </ul>
  </div>
</div>